#Brn
{
    
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: fixed;
    
}
a
{
    opacity: 80%;
    color: aliceblue;
}

h1,th
{
    
    color: aliceblue;
    text-align: center;
}
#submit{
    color: aliceblue;
    font-weight: bold;
    
}
.ll
{
    height: 100vh;
}

.l
{
    height: 100px;
}


